* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    background-color: #b19cd9;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
    
    
}

header h1,
header a {
    color: #fff;
}

.contact {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    font-size:50px;
    
    
}

li {
    list-style: none;
   margin-top: 10px;
   
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    width: 200px;
    text-align: center;
    align-items: flex-start;
    display: flex;
}

.main-info-section {
    height: calc(100vh - 81.6px);
    
}

.text {
    
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;

}



.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}





span.name {
    color: #b19cd9;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 25px;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #b19cd9;
    color: #b19cd9;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
    
    
}



.text a:hover {
    color: #fff;
}

.text a::before {
    content: '';
    background-color: #b19cd9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img {
    width: 350px;
    

}

.info {
   display: flex;
   align-items: center;
   justify-content: center;
 }
    


.general {
    background-color: #b19cd9;
    border: 2px solid purple;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 10px 2px #000;
}

.general img {
    height: 325px;
    float: left;
    

}

.general p {
    width: 500px;
    float: right;
    font-size: 20px;
    margin:10px;
    color: #fff;
    
}



.flex-container{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  
}

h2 {
    background-color: purple;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 25px;
    width: 300px;
    text-align: center;
    
    
}



div[class^='category-'] {
    /* margin-bottom: 200px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
   
   
}



.work a {
    justify-self: center;
    position: relative;
    display: inline-block;
    
}



.work-category .active {
    background-color: #b19cd9;
    
    
   
    
}



.work a img {
    width: 350px;
    justify-self: center;

}



.imgThumb {
    width: 300px;
    position: relative;
    /* display: inline-block; */
    margin: 10px;

}

 .imgThumb img{
    width: 100%;
    border: 8px solid #fff;
    box-shadow: 0 0 5px 1px #555;
    border-radius: 5px;
}

 .imgThumb:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;

}

 .imgThumb span {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
}

 .imgThumb:hover span {
    display: block;
}

.imgThumb span input[type="button"]{
    width: 150px;
    height: 40px;
    background: purple;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}



footer hr {
    display: flex;
   align-items: center;
   justify-content: center;
}

footer p {
    text-align: center;
    color: #fff;
    background-color: #b19cd9;
    font-size: 1.2rem;
    padding: 30px 0;
}

.linkThumb img {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

 p {
    color: #707070;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    
    
}
/* Media Queries */

/* @media screen and (min-width: 768) {
    body {
        margin: 0;

    }

    .info {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
     h2 {
         margin-bottom: var(--mb-6);
     }

     h2:after {
         width: 80px;
         top: 3rem;
     }

     .navbar {
         height: calc(var(--header-height) + 1rem);
     }

     
     ul {
         display: flex;
             padding-top: 0;
         
     }

     li {
         margin-left: var(--mb-6);
         margin-bottom: 0;
     }

    

     .info {
         grid-template-columns: repeat(2,1fr);
         align-items: center;
         text-align: initial;
     }

     .general img {
         width: 300px;
     }

     .container .work {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(2,1fr);
         column-gap: 2rem;
     }

     .contact_container {
         justify-items: center;
     }
}

@media screen and (min-width: 1024px){

} */
